# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environments
myen/
.env/

# Django database file
db.sqlite3

# # Django media and static files
# media/
# static/

# Django settings and sensitive files
*.env
# settings.py

# Log files
*.log

# Node modules (React)
node_modules/

# Build files (React)
build/
dist/

# React environment files
.env
.env.local
.env.*.local

# Coverage (for testing)
coverage/

# Debugging logs
npm-debug.log
yarn-debug.log
